
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row">
            <div class="col-xl-10 col-lg-10 col-md-8">
                <center>
                    <div class="card o-hidden border-0 shadow-lg my-5" style="height:500px;width:1120px;">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                @*<img src="~/Images/login.png" style="height:650px;width:450px;" />*@
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <center>
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                            </div>
                                            <form class="user" method="post" name="login">
                                                <div class="form-group">
                                                    <select name="usertype" class="form-control form-control-user">
                                                        <option value=""> Select User Type</option>
                                                        <option value="U"> User </option>
                                                        <option value="C"> Company</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="txtEmail" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="txtPwd" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" required>
                                                </div>
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <input type="submit" class="btn btn-primary btn-user btn-block" value=" SignIn" style="font-size:small;" />
                                                    </div>
                                                </div>

                                                <hr>
                                            </form>
                                            <div class="text-center">
                                                @*<a class="small" href="forgot-password.html">Forgot Password?</a>*@
                                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#FPModal" style="font-size:small;">
                                                    Forgot Password
                                                </button>
                                            </div>
                                            @ViewBag.message
                                        </center>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <img src="~/Images/line.png" style="height:400px;width:150px;" />
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Become A Member!</h1>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-5 p-5 offset-1">
                                            <img src="~/Images/coloruser.png" class="img card-img-overlay" style="height:120px;width:120px;" /><br />
                                        </div>
                                        <div class="col-lg-5 p-5 offset-1">
                                            <img src="~/Images/companylogo.png" class="img card-img-overlay" style="height:150px;width:150px;align-content:center;" /><br />
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="submit" class="btn btn-primary btn-user btn-block" value=" SignIn For User" />
                                        </div>
                                        <div class="col-md-7">
                                            <a href="@Url.Action("Insert","ClientCompany")" class="btn btn-primary btn-lg" style="font-size:small;">
                                                SignIn For Company
                                            </a>
                                            @*<input type="submit" class="btn btn-primary btn-user btn-block" value=" SignIn For Company" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </center>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="FPModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forget Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="@Url.Action("ForgetPassword")">
                <div class="modal-body">
                    <input type="text" placeholder="Registered E-Mail Address" name="txtForgetEmail" class="form-control col-12" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Recover Password</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<center>
        <div>
            <a href="@Url.Action("Index","ClientUser")" class="btn btn-success btn-sm">
                For User
            </a>
        </div><br />
        <div>
            <a href="@Url.Action("Index","ClientCompany")" class="btn btn-success btn-sm">
                For Company
            </a>
        </div>
        <a href="@Url.Action("Index","ClientUser")">For User</a><br /><br />
        <a href="@Url.Action("Index","ClientCompany")">For Company</a>
    </center>*@
