@model KeenConveyance.Areas.Admin.Models.tblBooking
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Detail</h2>
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.BookingId)'s Profile</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.ConsignmentId)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.VehicleId)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.DriverId)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.DispatchDate)</h4>
            </div>
            <div class="row">
                <h4>ContactPersonName : @Html.DisplayFor(model => model.DeliveredDate)</h4>
            </div>
            <div class="row">
                <h4>ContactPersonNo : @Html.DisplayFor(model => model.TotalPayment)</h4>
            </div>
            <div class="row">
                <h4>WebURL : @Html.DisplayFor(model => model.Remarks)</h4>
            </div>
            <div class="row">
                <h4>
                    IsActive : @if (Model.IsPaid == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.BookingId" onchange="return activate(@Model.BookingId)">
                            <label class="custom-control-label" for="active_@Model.BookingId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.BookingId" onchange="return activate(@Model.BookingId)">
                            <label class="custom-control-label" for="active_@Model.BookingId"></label>
                        </div>
                    }
                </h4>
            </div>
            <div class="row">
                <h4>ContactPersonNo : @Html.DisplayFor(model => model.PaymentMode)</h4>
            </div>
            <div class="row">
                <h4>WebURL : @Html.DisplayFor(model => model.BidId)</h4>
            </div>
        </div>
    </div>
</div>
@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@
