@model KeenConveyance.Areas.Admin.Models.tblBooking
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="@Url.Action("Index","Booking")" class="btn btn-primary">
                <i class="fa fa-step-backward"></i>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <img src="~/Images/@ViewBag.Pic" style="height:100px;width:100px;" class="img img-thumbnail" />
            </div>
            <div class="col-10"><b>@ViewBag.UserName</b></div>
        </div><br />
        <div class="row">
            <div class="col-2">ConsignmentId : </div>
            <div class="col-10">
                <b>@Model.ConsignmentId</b>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                DispatchDate :
            </div>
            <div class="col-10"><b>@Model.DispatchDate</b></div>
            <div class="col-2">
                DeliveredDate :
            </div>
            <div class="col-10"><b>@Model.DeliveredDate</b></div>
        </div><br />
        <div class="row">
            <div class="col-2">
                Payment Mode :
            </div>
            <div class="col-10"><b>@Model.PaymentMode</b></div>
            <div class="col-2">
                Payment :
            </div>
            <div class="col-10"><b>@Model.TotalPayment</b></div>
        </div><br />
    </div>
</div>


