@model KeenConveyance.Areas.Admin.Models.tblComplaint
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.ComplaintId)'s Complaint</h1>
            </div>
            <div class="row">
                <h4>UserId : @Html.DisplayFor(model => model.UserId)</h4>
            </div>
            <div class="row">
                <h4>CompanyId : @Html.DisplayFor(model => model.CompanyId)</h4>
            </div>
            <div class="row">
                <h4>Subject : @Html.DisplayFor(model => model.Subject)</h4>
            </div>
            <div class="row">
                <h4>Description : @Html.DisplayFor(model => model.Desc)</h4>
            </div>
            <div class="row">
                <h4>CreatedOn : @Html.DisplayFor(model => model.CreatedOn)</h4>
            </div>
            <div class="row">
                <h4>
                    IsModified : @if (Model.IsSolved == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.CompanyId" onchange="return activate(@Model.CompanyId)">
                            <label class="custom-control-label" for="active_@Model.CompanyId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.CompanyId" onchange="return activate(@Model.CompanyId)">
                            <label class="custom-control-label" for="active_@Model.CompanyId"></label>
                        </div>
                    }
                </h4>
            </div>
            <div class="row">
                <h4>SolvedOn : @Html.DisplayFor(model => model.SolvedOn)</h4>
            </div>
            <div class="row">
                <h4>
                    IsReplied : @if (Model.IsReplied == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.ComplaintId" onchange="return activate(@Model.ComplaintId)">
                            <label class="custom-control-label" for="active_@Model.ComplaintId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.ComplaintId" onchange="return activate(@Model.ComplaintId)">
                            <label class="custom-control-label" for="active_@Model.ComplaintId"></label>
                        </div>
                    }
                </h4>
            </div>
            <div class="row">
                <h4>RepliedText : @Html.DisplayFor(model => model.RepliedText)</h4>
            </div>
        </div>
    </div>
</div>
@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@




