@model IEnumerable<KeenConveyance.Areas.Admin.Models.tblTransportCompany>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Company</h6><br />
        <a href="@Url.Action("Insert")">Add New Company</a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>CompanyName</th>
                        <th>CompanyPhNo</th>
                        <th>CompanyEmail</th>
                        <th>ContactPersonName</th>
                        <th>ContactPersonNo</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>CompanyName</th>
                        <th>CompanyPhNo</th>
                        <th>CompanyEmail</th>
                        <th>ContactPersonName</th>
                        <th>ContactPersonNo</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Detail", new { id = item.CompanyId })">
                                    @item.CompanyName
                                </a>
                            </td>
                            <td>@item.CompanyPhNo</td>
                            <td>@item.CompanyEmail</td>
                            <td>@item.ContactPersonName</td>
                            <td>@item.ContactPersonNo</td>
                            <td align="center">
                                @if (item.IsActive == true)
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked class="custom-control-input" id="active_@item.CompanyId" onchange="return activate(@item.CompanyId)">
                                        <label class="custom-control-label" for="active_@item.CompanyId"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="active_@item.CompanyId" onchange="return activate(@item.CompanyId)">
                                        <label class="custom-control-label" for="active_@item.CompanyId"></label>
                                    </div>
                                }
                            </td>
                            <td align="center">
                                <a href="@Url.Action("Edit",new { id=item.CompanyId})">
                                    <i class="fa fa-edit"></i>
                                    @*<img src="~/Images/edit.jpg" style="width:20px;height:20px" />*@
                                </a>|
                                <a href="@Url.Action("Delete",new { id=item.CompanyId})">
                                    <i class="fa fa-trash"></i>
                                    @*<img src="~/Images/delete.png" style="width:20px;height:20px" />*@
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/demo/datatables-demo.js"></script>
<link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        //alert("Done");
        $('#dataTable').DataTable();
    });
</script>
<script>
    function activate(id) {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Active","Company")" + "/" + id,
                success: function (response) {
                    if (response == true) {
                        alert("Account deactivated");
                    }
                    else {
                        alert("Accout activated");
                    }
                },
                failure: function (response) {
                    alert('Fail - ' + response.responseText);
                },
                error: function (response) {
                    alert('Error - ' + response.responseText);
                }
            });
    }
</script>

