@model IEnumerable<KeenConveyance.Areas.Admin.Models.tblDriver>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Driver</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>DriverName</th>
                        <th>ContactNo</th>
                        <th>EmailId</th>
                        <th>Active</th>
                        <th>ImageURL</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>DriverName</th>
                        <th>ContactNo</th>
                        <th>EmailId</th>
                        <th>Active</th>
                        <th>ImageURL</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href=" @Url.Action("Detail", new { id = item.DriverId })">
                                    @item.DriverName
                                </a>
                            </td>
                            <td>@item.ContactNo</td>
                            <td>@item.EmailId</td>
                            <td align="center">
                                @if (Session["Edit"].ToString() == "False")
                                {
                                if (item.IsActive == true)
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" checked class="custom-control-input" id="active_@item.DriverId" onchange="return activate(@item.DriverId)">
                                        <label class="custom-control-label" for="active_@item.DriverId"></label>
                                    </div>
                                }
                                else
                                {
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="active_@item.DriverId" onchange="return activate(@item.DriverId)">
                                        <label class="custom-control-label" for="active_@item.DriverId"></label>
                                    </div>
                                }
                                }
                            </td>
                            <td><img src="~/Images/@item.ImageURL" class="img-thumbnail" style="height:100px;width:100px;" /></td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="~/AdminContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/AdminContent/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/AdminContent/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="~/AdminContent/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminContent/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/js/demo/datatables-demo.js"></script>
<link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        //alert("Done");
        $('#dataTable').DataTable();
    });
</script>
<script>
    function activate(id) {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Active","Driver")" + "/" + id,
                success: function (response) {
                    if (response == true) {
                        alert("Account activated");
                    }
                    else {
                        alert("Accout deactivated");
                    }
                },
                failure: function (response) {
                    alert('Fail - ' + response.responseText);
                },
                error: function (response) {
                    alert('Error - ' + response.responseText);
                }
            });
    }
</script>





