@model IEnumerable<KeenConveyance.Areas.Admin.Models.JoinViewAll>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of Bidding</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>BidAmount</th>
                        <th>EstimatedDelivery</th>
                        <th>CompanyName</th>
                        <th>BidOn</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>

                        <th>BidAmount</th>
                        <th>EstimatedDelivery</th>
                        <th>CompanyName</th>
                        <th>BidOn</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href=" @Url.Action("Detail", new { id = item.bid.BidId })">
                                    @item.bid.BidAmount
                                </a>
                            </td>
                            <td>@item.bid.EstimatedDelivery</td>
                            <td>
                                <a href=" @Url.Action("Detail","Company")">
                                    @item.company.CompanyName
                                 </a>
                            </td>
                            <td>@item.bid.BidOn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/js/demo/datatables-demo.js"></script>
<link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        //alert("Done");
        $('#dataTable').DataTable();
    });
</script>

