@model KeenConveyance.Areas.Admin.Models.tblTransportCompany
@{

    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">

            <br />
            @{
                if (Model.Logo == null)
                {
                    <img src="~/Logo/defaultlogo.jpg" class="img-thumbnail" />
                }
                else
                {
                    <img src="~/Logo/@Html.DisplayFor(model => model.Logo)" class="img-thumbnail" />
                }

            }

            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.CompanyName)'s Profile</h1>
            </div>
            <div class="row">
                <h5 class="fa fa-phone"> Contact No of company :</h5>
                <h4><br> @Html.DisplayFor(model => model.CompanyPhNo)</h4>
            </div>
            <div class="row">
                <h5 class="fa fa-envelope"> Email Address of company : </h5>
                <h4><br> @Html.DisplayFor(model => model.CompanyEmail)</h4>
            </div>
            <div class="row">
                <h5 class="fa fa-sticky-note">  About Company : </h5>
                <h4><br> @Html.DisplayFor(model => model.AboutCompany)</h4>
            </div>
            <div class="row">
                <h5 class="fa fa-user"> ContactPersonName : </h5>
                <h4><br /> @Html.DisplayFor(model => model.ContactPersonName)</h4>
            </div>
            <div class="row">
                <h5 class="fa fa-phone"> ContactPersonNo :</h5>
                <h4><br /> @Html.DisplayFor(model => model.ContactPersonNo)</h4>
            </div>
            <div class="row">
                <h5 class="fa fa-search-location"> WebURL :</h5>
                <h4><br /> @Html.DisplayFor(model => model.WebURL)</h4>
            </div>
            <div class="row">
                <h4>
                    IsActive : @if (Model.IsActive == true)
                    {
                        <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.CompanyId" onchange="return activate(@Model.CompanyId)">
                            <label class="custom-control-label" for="active_@Model.CompanyId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.CompanyId" onchange="return activate(@Model.CompanyId)">
                            <label class="custom-control-label" for="active_@Model.CompanyId"></label>
                        </div>
                    }
                </h4>
            </div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-8 align-content-lg-center">
        <table>
            <tr>
                <td>Unit Name</td>
                <td>Min Value</td>
                <td>Max Value</td>
                <td>Price</td>
                <td></td>
            </tr>
            @foreach (var item in ViewBag.PriceList)
            {
                <tr>
                    <td>@item.UnitName</td>
                    <td>@item.MinValue</td>
                    <td>@item.MaxValue</td>
                    <td>@item.PricePerUnit</td>
                    <td></td>
                </tr>
            }


        </table>
    </div>
</div>


@*<script>
    function activate(id) {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Active","Company")" + "/" + id,
                success: function (response) {
                    if (response == true) {
                        alert("Account activated");
                    }
                    else {
                        alert("Accout deactivated");
                    }
                },
                failure: function (response) {
                    alert('Fail - ' + response.responseText);
                },
                error: function (response) {
                    alert('Error - ' + response.responseText);
                }
            });
    }
</script>*@
