@model KeenConveyance.Areas.Admin.Models.tblUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center>
    <div class="row">
        <div class="col-md-11">
            <div class="p-2 offset-1">
                <div class="card shadow mb-4" style="width:500px;">
                    <div class="card-header py-3">
                        <center><h4 class="m-0 font-weight-bold text-primary">UserProfile</h4></center>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4" style="text-align:center">
                                <p>
                                    @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserId })
                                </p>
                                <img src="~/Images/@Html.DisplayFor(model => model.ProfilePic)" class="img-thumbnail" />
                                <br />
                                <br />
                                <p>
                                    Member since <b> @Html.ViewBag.Year </b>
                                </p>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <h1 class="alert-light">@Html.DisplayFor(model => model.FirstName)'s Profile</h1>
                                </div>
                                <div class="row">
                                    <h4>@Html.DisplayFor(model => model.EmailId)</h4>
                                </div>
                                <div class="row">
                                    <h4>@Html.DisplayFor(model => model.ContactNo)</h4>
                                </div>
                                <div class="row">
                                    @{
                                        if (Model.IsActive == true)
                                        {
                                            <a href="#"> Deactivate Account </a>
                                        }
                                    }
                                </div>
                                <div class="row">
                                    <br /><br />
                                    <div class="alert-danger" style="margin-top:40px">
                                        <a href="@Url.Action("Login","Home")" class="btn btn-danger"> Signout </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</center>

<div class="card-deck">
    @foreach (var item in ViewBag.con)
    {
        <div class="row">
            <div class="col-md-7">
                <div class="p-2 offset-1">
                    <div class="card shadow mb-4" style="width:550px;">
                        <div class="card-header py-3">
                            <center><h4 class="m-0 font-weight-bold text-primary">User's Consignment</h4></center>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h3 class="alert-light"># @item.ConsignmentId</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="alert-light">Receiver Name : </h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light">Unit Type : </h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light">Unit Value : </h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <h5 class="alert-light">@item.ReceiverName</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light">@item.UnitType</h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light">@item.UnitValue</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <center><a href="@Url.Action("ViewCon", "ClientConsignment", new { id = item.ConsignmentId })" class="btn btn-success">View Detail</a></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>