@model KeenConveyance.Areas.Admin.Models.tblUser
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserProfile</h2>

<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <p>
                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserId })
            </p>

            <img src="~/images/@Html.DisplayFor(model => model.ProfilePic)" class="img-thumbnail" id="userimage" />
            <br />
            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.FirstName)'s Profile</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.EmailId)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.ContactNo)</h4>
            </div>
            <div class="row">
                @{
                    if (Model.IsActive == true)
                    {
                        <a href="#"> Deactivate Account </a>
                    }
                }
            </div>

            <div class="row">
                <br /><br />
                <div class="alert-danger" style="margin-top:40px">
                    <a href="@Url.Action("Logout","Home")" class="btn btn-danger"> Signout </a>
                </div>
            </div>
        </div>


    </div>
</div>
