
@{
    ViewBag.Title = "UserConsignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row py-2">
    <div class="col-md-7">
        <div class="p-2 offset-1">
            <div class="card shadow mb-4" style="width:1300px;">
                <div class="card-header py-3">
                    <center><h1 class="m-0 font-weight-bold text-primary">User's Consignment</h1></center>
                </div>
                @foreach (var item in ViewBag.con)
                {

                    <div class="card-body">
                        <div class="row">
                            <h2 class="alert-light" style="color:black;"># @item.ConsignmentId</h2><br />
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-4">
                                <h4 class="alert-light" style="color:black;">Receiver Name : @item.ReceiverName</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="alert-light" style="color:black;">Unit Type : @item.UnitType</h4>
                            </div>
                            <div class="col-md-4">
                                <h4 class="alert-light" style="color:black;">Unit Value : @item.UnitValue</h4>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-4">
                                    <h5 class="alert-light"></h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light"></h5>
                                </div>
                                <div class="col-md-4">
                                    <h5 class="alert-light"></h5>
                                </div>
                            </div>*@
                        <div class="row">
                            <div class="col-md-9">
                                <center>
                                    <a href="@Url.Action("ViewCon", "ClientConsignment", new { id = item.ConsignmentId })" class="btn btn-success offset-11">View Detail</a>
                                </center>
                            </div>
                            <div class="col-md-3">
                                <center>
                                    @if (item.IsProcessed == true)
                                    {
                                        <a href="@Url.Action("ViewBill", "ClientUser", new { id = item.ConsignmentId })" class="btn btn-success offset-0">View Bill</a>
                                    }
                                </center>
                            </div>
                        </div>
                    </div>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>
