@model KeenConveyance.Areas.Admin.Models.tblFeedback
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="@Url.Action("Index","Feedback")" class="btn btn-primary">
                <i class="fa fa-step-backward"></i>
            </a>
        </h6>
    </div>
    <div class="card-body">
        <div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <h1><i class="fa fa-1x">Feedback</i></h1>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5><i class="fa fa-1x">Subject:</i></h5>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                          
                            <h5>&nbsp;&nbsp;@Html.DisplayFor(model => model.Subject)</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5><i class="fa fa-1x">Description:</i></h5>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="col-3">
                            <h5>&nbsp;&nbsp;@Html.DisplayFor(model => model.Desc)</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5><i class="fa fa-1x">CreatedOn:</i></h5>
                            @*<i class="fa fa-calendar-day"></i>*@
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <h5>&nbsp;&nbsp;@Html.DisplayFor(model => model.CreatedOn)</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <h5>
                                <i class="fa fa-1x">IsActive:</i>
                            </h5>
                        </div>
                        <div class="col-1">
                            @if (Model.IsActive == true)
                            {
                                <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                    <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.FeedbackId" onchange="return activate(@Model.FeedbackId)">
                                    <label class="custom-control-label" for="active_@Model.FeedbackId"></label>
                                </div>
                            }
                            else
                            {
                                <div class="custom-control custom-switch" style="float:right;margin-left:10px">
                                    <input type="checkbox" disabled class="custom-control-input" id="active_@Model.FeedbackId" onchange="return activate(@Model.FeedbackId)">
                                    <label class="custom-control-label" for="active_@Model.FeedbackId"></label>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="col-md-4" style="text-align:center">
                <p>
                    Member since <b> @Model.CreatedOn.Year </b>
                </p>
                <br />
            </div>
        </div>
    </div>
</div>

@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@


