
@{
    ViewBag.Title = "ComAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function validate() {
        var addtype = document.registration.addtype;
        var house = document.registration.txtHouseNo;
        var landmark = document.registration.txtLandmark;
        var area = document.registration.txtArea;
        var add = document.registration.txtAddress;
        var state = document.registration.ddState;
        var city = document.registration.ddCity;
        var zip = document.registration.txtZip;
        var addtype_pat = /^[A-Za-z]+$/;
        if (addtype.value != "" && addtype.value.match(addtype_pat)) {
        }
        else {
            alert("Select Proper Addresstype");
            addtype.focus();
            return false;
        }

        if (house.value != "") {
        }
        else {
            alert("Enter HouseNo");
            house.focus();
            return false;
        }
        var landmark_pat = /^[A-Za-z]+$/;
        if (landmark.value != "" && landmark.value.match(landmark_pat)) {
        }
        else {
            alert("Enter Proper Landmark");
            landmark.focus();
            return false;
        }
        var area_pat = /^[A-Za-z]+$/;
        if (area.value != "" && area.value.match(area_pat)) {
        }
        else {
            alert("Enter Proper Area");
            area.focus();
            return false;
        }
        var add_pat = /^[A-Za-z]+$/;
        if (add.value != "" && area.value.match(add_pat)) {
        }
        else {
            alert("Enter Proper Address");
            add.focus();
            return false;
        }

        var con_pat = /^[A-Za-z]+$/;
        if (con.value != "" && area.value.match(con_pat)) {
        }
        else {
            alert("Enter Proper Country");
            con.focus();
            return false;
        }
        var city_pat = /^[A-Za-z]+$/;
        if (city.value != "" && city.value.match(city_pat)) {
        }
        else {
            alert("Enter Proper City");
            city.focus();
            return false;
        }
        var zip_pat = /^\d{6}$/;
        if (zip.value != "" && zip.value.match(zip_pat)) {
        }
        else {
            alert("Enter Proper ZipCode");
            zip.focus();
            return false;
        }


        return true;
    }
</script>


<center>
    <div class="p-2">
        <div class="card shadow mb-4" style="width:700px;">
            <div class="card-header py-3">
                <center><h4 class="m-0 font-weight-bold text-primary">Add Address</h4></center>
            </div>
            <div class="card-body">
                <form class="user" method="post" name="registration" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12 offset-1 p-3">
                            <div class="form-group row">
                                <div class="col-md-10 mb-3 mb-sm-0">
                                    <select name="addtype" class="form-control form-control-user">
                                        <option value="">Select Address Type &nbsp;&nbsp;</option>
                                        <option value="H"> Home &nbsp;&nbsp;</option>
                                        <option value="O"> Office &nbsp;&nbsp;</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" name="txtHouseNo" placeholder="House No">
                                </div>
                                <div class="col-md-5 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" name="txtLandmark" placeholder="Landmark">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" name="txtArea" placeholder="Area">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 mb-3 mb-sm-0">
                                    <textarea cols="20" rows="3" class="form-control" name="txtAddress" placeholder="Address"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 mb-3 mb-sm-0">
                                    @Html.DropDownList("ddCountry", ViewBag.Country as SelectList, "Select Country", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-5 mb-3 mb-sm-0" id="divstate">
                                    <select id="ddState"    name="ddState" class="form-control"></select>
                                </div>
                                <div class="col-sm-5 mb-3 mb-sm-0" id="divcity">
                                    <select id="ddCity" name="ddCity" class="form-control"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 mb-3 mb-sm-0">
                                    <input type="text" class="form-control" name="txtZip" placeholder="Zip Code">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-10 mb-3 mb-sm-0">
                                    <input type="submit" class="btn btn-primary" value="Submit" onclick="return validate();">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</center>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddCountry').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetState", "ClientConsignment")",
                data: { cid: $('#ddCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //alert(data.length);

                    for (var i = 0; i < data.length; i++) {
                        $('#ddState').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                        $('#ddtoState').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddState').focus();
                },
                error: function (error) {

                    alert(error);
                }
            });
        });

        $('#ddState').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetCity","ClientConsignment")",
                data: { sid: $('#ddState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddCity').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddCity').focus();
                }
            });
        });

    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddtoCountry').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetState", "ClientConsignment")",
                data: { cid: $('#ddCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    //alert(data.length);

                    for (var i = 0; i < data.length; i++) {
                        $('#ddState').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddState').focus();
                },
                error: function (error) {

                    alert(error);
                }
            });
        });

        $('#ddtoState').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetCity","ClientConsignment")",
                data: { sid: $('#ddState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddCity').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddCity').focus();
                }
            });
        });

    });

</script>
