@model KeenConveyance.Areas.Admin.Models.tblBidding
@{
    ViewBag.Title = "EditBid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Place Your Bid
        </h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" name="registration" enctype="multipart/form-data">
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label>
                        <b style="color:black">
                            User's Budget : @ViewBag.Budget
                        </b>
                    </label>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label>
                        <b style="color:black">
                            Minimum Time : @ViewBag.MinTime
                        </b>
                    </label>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label>
                        <b style="color:black">
                            Maximum Time : @ViewBag.MaxTime
                        </b>
                    </label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label>
                        <b style="color:black">
                            BidAmount:
                        </b>
                    </label>
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <label>
                        <b style="color:black">
                            BidTime :
                        </b>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <input type="hidden" name="conID" value="@Model.ConsignmentId" />
                    <input type="text" class="form-control" name="txtBidAmount" value="@Model.BidAmount" placeholder="Bid Amount">
                </div>
                <div class="col-sm-3 mb-3 mb-sm-3">
                    <input type="text" class="form-control" name="txtBidTime" value="@Model.EstimatedDelivery" placeholder="BidTime">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 mb-3 mb-sm-3">
                    @*<input type="submit" class="btn btn-success" value="Submit" onclick="alert(' Successfully Bid ');">*@
                    <input type="submit" class="btn btn-success" value="Edit">
                </div>
            </div>
        </form>
    </div>
</div>


