@model KeenConveyance.Areas.Admin.Models.tblTransportCompany
@{
    ViewBag.Title = "CompanyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .checked {
            color: orange;
        }

        .rating {
            border: none;
            float: left;
        }

            .rating > input {
                color: orange;
                display: none;
            }

            .rating > label:before {
                margin: 5px;
                font-size: 1.25em;
                font-family: FontAwesome;
                display: inline-block;
                content: "\f005";
            }

            .rating > .half:before {
                content: "\f089";
                position: absolute;
            }

            .rating > label {
                color: #ddd;
                float: right;
            }
    </style>
</head>


<div class="row">
    <div class="col-md-8">
        <div class="p-2">
            <div class="card shadow mb-4" style="width:1480px;">
                <div class="card-header py-3">
                    <center><h4 class="m-0 font-weight-bold text-primary">Company Profile</h4></center>
                </div>
                <div class="card-body" style="background-color:aliceblue;">
                    <div class="row">
                        <div class="col-md-4" style="text-align:center">
                            <p>
                                @Html.ActionLink("Edit Profile", "Edit", new { id = Model.CompanyId })
                            </p>
                            <img src="~/Images/@Html.DisplayFor(model => model.Logo)" class="img-thumbnail" onchange="return loadFile(event);" />
                            <br />
                            <div> <a href="#"> Change Profile Image </a> </div>
                            <br />
                            <p>
                                Member since <b> @Html.ViewBag.Year </b>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <h1 class="alert-light">@Html.DisplayFor(model => model.CompanyName)'s Profile</h1>
                            </div>
                            <div class="row">
                                <h4>@Html.DisplayFor(model => model.CompanyEmail)</h4>
                            </div>
                            <div class="row">
                                <h4>@Html.DisplayFor(model => model.CompanyPhNo)</h4>
                            </div>
                            <div class="row">
                                <h4>@Html.DisplayFor(model => model.ContactPersonName)</h4>
                            </div>
                            <div class="row">
                                <h4>@Html.DisplayFor(model => model.ContactPersonNo)</h4>
                            </div>
                            <div class="row">
                                <h4>@Html.DisplayFor(model => model.WebURL)</h4>
                            </div>
                            @foreach (var item in ViewBag.address)
                            {
                                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                                    @item.HouseNo, @item.Landmark, @item.Area, @item.Address
                                </h5>
                            }
                            @if (Session["CompanyId"] != null)
                            {
                                <div class="row">
                                    @{
                                        if (Model.IsActive == true)
                                        {
                                            <a href="#"> Deactivate Account </a>
                                        }
                                    }
                                </div>
                                <div class="row">
                                    <br />
                                    <div style="margin-top:40px">
                                        <a href="@Url.Action("Login","Home")" class="btn btn-danger"> Signout </a>
                                        <a href="@Url.Action("ComList","ClientConsignment",new { id = Model.CompanyId})" class="btn btn-light"> Company Consignment </a>
                                        <a href="@Url.Action("AddService","ClientCompany")" class="btn btn-light"> Add Service </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <div class="alert-link" style="margin-top:40px">
                                        <a href="@Url.Action("ComAdd","ClientConsignment",new { id = Model.CompanyId })" class="btn btn-light"> Add Address </a>
                                        <a href="@Url.Action("AddDriver","ClientCompany")" class="btn btn-light"> Add Driver </a>
                                        <a href="@Url.Action("AddVehicle","ClientCompany")" class="btn btn-light"> Add Vehicle </a>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-2">
                            @if (Session["CompanyId"] != null)
                            {
                                <div class="col-md-4 p-2">
                                    <div class="card shadow mb-4" style="width:200px;">
                                        <br />
                                        <h5 class="text offset-1" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                                            <a href="@Url.Action("ComBidding","ClientCompany",new { id = Model.CompanyId })">View Your Bids</a>
                                        </h5>
                                        <br />
                                        <h5 class="text offset-1" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                                            <a href="@Url.Action("ViewAconsignment","ClientCompany",new { id = Model.CompanyId })">View Accepted Bids </a>
                                        </h5>

                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    var loadFile = function (event) {
        var output = document.getElementById('txtLogo');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.hidden = false;
    };
</script>

<br />


<div class="row offset-1 py-3">
    <center>
        <h2 class="m-0 font-weight-bold text-dark">
            Company's PriceList
        </h2>
        <br />
        <table class="table table-hover table-bordered">
            <tr>
                <th>Unit Name</th>
                <th>Minimum Value</th>
                <th>Maximum Value</th>
                <th>Price Per Unit</th>
            </tr>
            @foreach (var item in ViewBag.PriceList)
            {
                <tr>
                    <td>@item.UnitName</td>
                    <td>@item.MinValue</td>
                    <td>@item.MaxValue</td>
                    <td>@item.PricePerUnit</td>
                </tr>
            }
        </table>
    </center>
</div>

<div class="row offset-1">
    <h4 class="m-0 font-weight-bold text-dark">
        Company's Review & Rating
    </h4>
    <br />
    @foreach (var item in ViewBag.Rate)
    {
        <br />
        <div class="col-md-6">
            <center>

                <h5 class="text" style="font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif">
                    @ViewBag.User
                    <br />
                    <script>
                        $(function () {
                            $("#checked").rating({
                                rating: @item.Rate;
                            });
                        });
                    </script>
                    <br />
                    @item.Review
                </h5><br />
            </center>
        </div>
        <br />
    }
    <br />
</div>


