@model KeenConveyance.Areas.Admin.Models.tblPriceList
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@Html.DisplayFor(model => model.PriceListId)'s PriceList</h1>
            </div>
            <div class="row">
                <h4>UnitName : @Html.DisplayFor(model => model.UnitName)</h4>
            </div>
            <div class="row">
                <h4>MinValue : @Html.DisplayFor(model => model.MinValue)</h4>
            </div>
            <div class="row">
                <h4>MaxValue : @Html.DisplayFor(model => model.MaxValue)</h4>
            </div>
            <div class="row">
                <h4>PricePerUnit : @Html.DisplayFor(model => model.PricePerUnit)</h4>
            </div>
            <div class="row">
                <h4>CompanyId : @Html.DisplayFor(model => model.CompanyId)</h4>
            </div>
            <div class="row">
                <h4>
                    IsActive : @if (Model.IsActive == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.PriceListId" onchange="return activate(@Model.PriceListId)">
                            <label class="custom-control-label" for="active_@Model.PriceListId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.PriceListId" onchange="return activate(@Model.PriceListId)">
                            <label class="custom-control-label" for="active_@Model.PriceListId"></label>
                        </div>
                    }
                </h4>
            </div>
        </div>
    </div>
</div>
@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@

