@model KeenConveyance.Areas.Admin.Models.tblDriver
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Images/@Html.DisplayFor(model => model.ImageURL)" class="img-thumbnail" />
            <br />

            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@ViewBag.CompanyName's driver</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.DriverName)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.ContactNo)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.EmailId)</h4>
            </div>
            <div class="row">
                <h4>LicenseNo : @Html.DisplayFor(model => model.LicenseNo)</h4>
            </div>
            <div class="row">
                <h4>AadharcardNo : @Html.DisplayFor(model => model.AadharcardNo)</h4>
            </div>
            <div class="row">
                <h4>
                    IsActive : @if (Model.IsActive == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.DriverId" onchange="return activate(@Model.DriverId)">
                            <label class="custom-control-label" for="active_@Model.DriverId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.DriverId" onchange="return activate(@Model.DriverId)">
                            <label class="custom-control-label" for="active_@Model.DriverId"></label>
                        </div>
                    }
                </h4>
            </div>
            <div class="row">
                <h4>CreatedOn : @Html.DisplayFor(model => model.CreatedOn)</h4>
            </div>

        </div>
    </div>
</div>
<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","driver")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
</script>





