@model IEnumerable<KeenConveyance.Areas.Admin.Models.tblVehicleType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of VehicleType</h6><br />
        <a href="@Url.Action("Insert")">Add New VehicleType</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>TypeName</th>
                        <th>TypeImage</th>
                        <th>CreatedOn</th>
                        <th>CreatedBy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>TypeName</th>
                        <th>TypeImage</th>
                        <th>CreatedOn</th>
                        <th>CreatedBy</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TypeName</td>
                            <td><img src="~/Images/@item.TypeImage" class="img-thumbnail" style="height:100px;width:100px;" /></td>
                            <td>@item.CreatedOn</td>
                            <td>@item.CreatedBy</td>
                            <td>
                                <a href="@Url.Action("Edit",new { id=item.VehicleTypeId})">
                                    <i class="fa fa-edit"></i>
                                    @*<img src="~/Images/edit.jpg" style="width:20px;height:20px" />*@
                                </a>|
                                <a href="@Url.Action("Delete",new { id=item.VehicleTypeId})">
                                    <i class="fa fa-trash"></i>
                                    @*<img src="~/Images/delete.png" style="width:20px;height:20px" />*@
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="~/AdminContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/AdminContent/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="~/AdminContent/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<script src="~/AdminContent/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/AdminContent/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/js/demo/datatables-demo.js"></script>
<link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" class="init">
    $(document).ready(function () {
        //alert("Done");
        $('#dataTable').DataTable();
    });
</script>
<script>
    function activate(id) {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("Active","Consignment")" + "/" + id,
                success: function (response) {
                    if (response == true) {
                        alert("Account activated");
                    }
                    else {
                        alert("Accout deactivated");
                    }
                },
                failure: function (response) {
                    alert('Fail - ' + response.responseText);
                },
                error: function (response) {
                    alert('Error - ' + response.responseText);
                }
            });
    }
</script>





