@model KeenConveyance.Areas.Admin.Models.tblVehicle
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            <img src="~/Images/@Html.DisplayFor(model => model.Image)" class="img-thumbnail" />
            <br />

            <br />
            <p>
                Member since <b> @Html.ViewBag.Year </b>
            </p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <h1 class="alert-light">@ViewBag.CompanyName's vehicle</h1>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.VehicleTypeId)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.VehicleName)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.RegNo)</h4>
            </div>
            <div class="row">
                <h4>@Html.DisplayFor(model => model.DocumentImage)</h4>
            </div>
            <div class="row">
                <h4>ContactPersonName : @Html.DisplayFor(model => model.Fuel)</h4>
            </div>
            <div class="row">
                <h4>ContactPersonNo : @Html.DisplayFor(model => model.Capacity)</h4>
            </div>
            <div class="row">
                <h4>
                    IsActive : @if (Model.IsActive == true)
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled checked class="custom-control-input" id="active_@Model.VehicleId" onchange="return activate(@Model.VehicleId)">
                            <label class="custom-control-label" for="active_@Model.VehicleId"></label>
                        </div>
                    }
                    else
                    {
                        <div class="custom-control custom-switch">
                            <input type="checkbox" disabled class="custom-control-input" id="active_@Model.VehicleId" onchange="return activate(@Model.VehicleId)">
                            <label class="custom-control-label" for="active_@Model.VehicleId"></label>
                        </div>
                    }
                </h4>
            </div>

        </div>
    </div>
</div>
@*<script>
        function activate(id) {
            $.ajax(
                {
                    type: "POST",
                    url: "@Url.Action("Active","Company")" + "/" + id,
                    success: function (response) {
                        if (response == true) {
                            alert("Account activated");
                        }
                        else {
                            alert("Accout deactivated");
                        }
                    },
                    failure: function (response) {
                        alert('Fail - ' + response.responseText);
                    },
                    error: function (response) {
                        alert('Error - ' + response.responseText);
                    }
                });
        }
    </script>*@


